<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>PDF File Converter</h1>
        <form id="uploadForm" enctype="multipart/form-data">
            <label for="file">Choose a PDF File</label>
            <input type="file" id="file" name="file" accept=".pdf" required>
            <label for="path">Destination Path</label>
            <input type="text" id="path" name="path" placeholder="/desired/path" required>
            <label for="format">Choose Output Format</label>
            <select id="format" name="format">
                <option value="txt">TXT</option>
                <option value="doc">DOC</option>
            </select>
            <button type="button" onclick="uploadFile()">Convert</button>
        </form>
        <div class="spinner" id="spinner"></div>
        <p id="status"></p>
    </div>
    <footer>
        <p>Designed by Saif Abozaid</p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>